.nvim/
.nvim.lua
.mypy_cache/
.venv/
.poetry/
poetry.lock
pycode/__pycache__/

dist/
tests/data/

native_pycode/build/
native_pycode/.clangd
native_pycode/.cache/
native_pycode/.nvim/
native_pycode/.nvim.lua
native_pycode/build/
native_pycode/tags
