.cache/
.nvim/
.mypy_cache/
.venv/
.poetry/
build/
devel/
dist/
poetry.lock
pycode/__pycache__/
tests/data/
cmake/
!cmake/utils.cmake
!cmake/compiler.cmake
.nvim.lua
CMakeUserPresets.json
poetry.lock
python.zip
